<!-- ######################################################
#
#Author:          whytin
#Email:           whytin@yeah.net
#QQ:              583501947
#
#Filename:        reset_password.html
#Last modified:   2016-06-08 23:58
#Description:     
#
###################################################### -->


{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}博客-重置密码{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>重置你的密码</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}
